<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.ticket.dal.mapper.TicketMovieCinemaRelMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.ticket.dal.entity.TicketMovieCinemaRel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="CHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="modifier" property="modifier" jdbcType="INTEGER" />
    <result column="movie_id" property="movieId" jdbcType="INTEGER" />
    <result column="movie_name" property="movieName" jdbcType="VARCHAR" />
    <result column="cinema_id" property="cinemaId" jdbcType="INTEGER" />
    <result column="cinema_name" property="cinemaName" jdbcType="VARCHAR" />
    <result column="movie_effective_date" property="movieEffectiveDate" jdbcType="TIMESTAMP" />
    <result column="movie_expiration_date" property="movieExpirationDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, is_deleted, gmt_create, gmt_modified, creator, modifier, movie_id, movie_name, cinema_id,cinema_name,
    movie_effective_date, movie_expiration_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ticket_movie_cinema_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ticket_movie_cinema_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tqmall.ticket.dal.entity.TicketMovieCinemaRel" >
    insert into ticket_movie_cinema_rel (id, is_deleted, gmt_create, 
      gmt_modified, creator, modifier, 
      movie_id, movie_name, cinema_id, cinema_name, movie_effective_date,
      movie_expiration_date)
    values (#{id,jdbcType=INTEGER}, #{isDeleted,jdbcType=CHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{creator,jdbcType=INTEGER}, #{modifier,jdbcType=INTEGER}, 
      #{movieId,jdbcType=INTEGER},#{movieName}, #{cinemaId,jdbcType=INTEGER}, #{cinemaName},#{movieEffectiveDate,jdbcType=TIMESTAMP},
      #{movieExpirationDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tqmall.ticket.dal.entity.TicketMovieCinemaRel" >
    insert into ticket_movie_cinema_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="movieId != null" >
        movie_id,
      </if>
      <if test="movieName != null" >
        movie_name,
      </if>
      <if test="cinemaId != null" >
        cinema_id,
      </if>
      <if test="cinemaName != null" >
        cinema_name,
      </if>
      <if test="movieEffectiveDate != null" >
        movie_effective_date,
      </if>
      <if test="movieExpirationDate != null" >
        movie_expiration_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="movieId != null" >
        #{movieId,jdbcType=INTEGER},
      </if>
      <if test="movieName != null" >
        #{movieName,jdbcType=VARCHAR},
      </if>
      <if test="cinemaId != null" >
        #{cinemaId,jdbcType=INTEGER},
      </if>
      <if test="cinemaName != null" >
        #{cinemaName,jdbcType=VARCHAR},
      </if>
      <if test="movieEffectiveDate != null" >
        #{movieEffectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="movieExpirationDate != null" >
        #{movieExpirationDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.ticket.dal.entity.TicketMovieCinemaRel" >
    update ticket_movie_cinema_rel
    <set >
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=CHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="movieId != null" >
        movie_id = #{movieId,jdbcType=INTEGER},
      </if>
      <if test="movieName != null" >
        movie_name = #{movieName,jdbcType=VARCHAR},
      </if>
      <if test="cinemaId != null" >
        cinema_id = #{cinemaId,jdbcType=INTEGER},
      </if>
      <if test="cinemaName != null" >
        cinema_name = #{cinemaName,jdbcType=VARCHAR},
      </if>
      <if test="movieEffectiveDate != null" >
        movie_effective_date = #{movieEffectiveDate,jdbcType=TIMESTAMP},
      </if>
      <if test="movieExpirationDate != null" >
        movie_expiration_date = #{movieExpirationDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqmall.ticket.dal.entity.TicketMovieCinemaRel" >
    update ticket_movie_cinema_rel
    set is_deleted = #{isDeleted,jdbcType=CHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=INTEGER},
      modifier = #{modifier,jdbcType=INTEGER},
      movie_id = #{movieId,jdbcType=INTEGER},
      movie_name = #{movieName,jdbcType=VARCHAR},
      cinema_id = #{cinemaId,jdbcType=INTEGER},
      cinema_name = #{cinemaName,jdbcType=VARCHAR},
      movie_effective_date = #{movieEffectiveDate,jdbcType=TIMESTAMP},
      movie_expiration_date = #{movieExpirationDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByMovieId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ticket_movie_cinema_rel
    where movie_id = #{movieId}
    and is_deleted = 'N'
  </select>

  <select id="selectByCinemaId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ticket_movie_cinema_rel
    where cinema_id = #{cinemaId}
    and is_deleted = 'N'
  </select>

  <select id="selectByCinemaIdAndMovieId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ticket_movie_cinema_rel
    where cinema_id = #{cinemaId}
    and movie_id =#{movieId}
    and is_deleted = 'N'
  </select>
</mapper>